table{
	margin-top: 50px;
	text-align: center;
	border-color: inherit;
	border-radius: 5px;
	background: #1be357;
	color: black;
}

#show th, #show td{
	padding: 13px;
}

#btna td input{
	width: 100%;
}
